
{% block stylesheets %}

    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/skin/default_skin/css/theme.css') }}">
    <!--Icon Fonts-->
    <link rel="stylesheet" media="screen" href="{{ asset('assets/fonts/font-awesome/css/font-awesome.css') }}">

    <!-- Font CSS (Via CDN) -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>

{% endblock %}
{% block body %}
    <body class="error-page sb-l-o sb-r-c">
    <!-- Navigation -->
    <nav class="navbar navbar-default">

        <div class="container" style="max-width: 1050px;">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">KampWeb</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active hidden">
                        <a href="{{ path('homepage') }}">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Sign In</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#footer">Contact</a>
                    </li>
                    {% if app.user %}
                        <li>
                            <a class="page-scroll" href="{{ path('dashboard') }}">Dashboard</a>
                        </li>
                    {% else %}
                        <li>
                            <a class="page-scroll" href="{{ path('register') }}">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<!-- Start: Content-Wrapper -->
<section id="content_wrapper">
    <section id="content" class="pn animated fadeIn">

        <div class="center-block mt50 mw800">
            <h1 class="error-title"> 404! </h1>
            <h2 class="error-subtitle">Page Not Found.</h2>
            <h4 class="text-muted">The requested page couldn't be located. Checkout for any URL
                misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.</h4>
            <div class="pull-left">
                <img src="{{ asset('assets/img/logos/logo_grey.png') }}" class="img-responsive mt20 w225" alt="logo">
            </div>
        </div>
    </section>
    <!-- End: Content -->

</section>
    </body>

{% endblock %}
{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('assets/vendor/jquery/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery/jquery_ui/jquery-ui.min.js') }}"></script>

    <!-- Theme Javascript -->
    <script src="{{ asset('assets/js/utility/utility.js') }}"></script>
    <script src="{{ asset('assets/js/demo/demo.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {

            "use strict";

            // Init Theme Core
            Core.init();

            // Init Demo JS
            Demo.init();

        });
    </script>
    <!-- END: PAGE SCRIPTS -->


{% endblock %}