<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}North American University{% endblock %}</title>
    <meta name="author" content="North American University">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600'>
        <link rel='stylesheet' type='text/css' href='{{ asset('assets/skin/base/fonts/admindesigns.less') }}'>
        <!-- Font CSS -->
        <link rel='stylesheet' type='text/css' href='{{ asset('assets/fonts/font-awesome/css/font-awesome.css') }}'>
        <!-- Theme CSS -->
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/skin/default_skin/css/theme.css') }}">
        <!-- Admin Forms CSS -->
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/admin-tools/admin-forms/css/admin-forms.css') }}">
    {% endblock %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body class="dashboard-page sb-l-o sb-r-c">
{% set route = app.request.attributes.get('_route') %}
<!-- Start: Main -->
<div id="main">
    <!-- Start: Header -->
    {% block header %}
        <header class="navbar navbar-fixed-top bg-dark">
            <div class="navbar-branding">
                {% if(app.user.birthday is empty or app.user.cellphone is empty or app.user.gender is empty  ) %}
                    <a class="navbar-brand" href="{{ path('update') }}">
                        <b>Kamp</b>Web
                    </a>
                {% else %}
                    <a class="navbar-brand" href="{{ path('dashboard') }}">
                        <b>Kamp</b>Web
                    </a>
                {% endif %}
                <span id="toggle_sidemenu_l" class="ad ad-lines"></span>
            </div>
            <ul class="nav navbar-nav navbar-left">

                <li>
                    <a class="topbar-menu-toggle" href="#">
                        <span class="ad ad-wand fs16"></span>
                    </a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown">  {{ app.user.fullname }}
                        <span class="caret caret-tp hidden-xs"></span>
                    </a>
                    <ul class="dropdown-menu list-group dropdown-persist w250" role="menu">
                        <li class="list-group-item">
                            {% if(app.user.birthday is empty or app.user.cellphone is empty or app.user.gender is empty  ) %}
                                <a href="{{ path('update') }}" class="animated animated-short fadeInUp">
                                    <span class="fa fa-user"></span> My Profile  </a>
                                </a>
                            {% else %}
                                <a href="{{ path('profile', {'userid': app.user.id}) }}" class="animated animated-short fadeInUp">
                                    <span class="fa fa-user"></span> My Profile  </a>
                                </a>
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            <a href="{{ path('update') }}" class="animated animated-short fadeInUp">
                                <span class="fa fa-gear"></span> Edit Profile </a>
                        </li>
                        <li class="list-group-item">
                            {% if(app.user.birthday is empty or app.user.cellphone is empty or app.user.gender is empty  ) %}
                                <a href="{{ path('update') }}" class="animated animated-short fadeInUp">
                                    <span class="fa fa-shield"></span> Change Password  </a>
                            {% else %}
                                <a href="{{ path('changepassword') }}" class="animated animated-short fadeInUp">
                                    <span class="fa fa-shield"></span> Change Password  </a>
                            {% endif %}
                        </li>
                        <li class="dropdown-footer">
                            <a href="{{ path('logout') }}" class="">
                                <span class="fa fa-power-off pr5"></span> Logout </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </header>
    {% endblock %}
    <!-- End: Header -->
    <!-- Start: Sidebar Left -->
    {% block sidebar %}
        <aside id="sidebar_left" class="nano nano-primary affix">

            <!-- Start: Sidebar Left Content -->
            <div class="sidebar-left-content nano-content">

                <!-- Start: Sidebar Left Menu -->
                <ul class="nav sidebar-menu">
                    <li class="sidebar-label pt20">Menu</li>
                    <li>
                        {% if(app.user.birthday is empty or app.user.cellphone is empty or app.user.gender is empty  ) %}
                        <a href="{{ path('update') }}">
                            <span class="glyphicon glyphicon-home"></span>
                            <span class="sidebar-title">Dashboard</span>
                        </a>
                        {% else %}
                        <a href="{{ path('dashboard') }}">
                            <span class="glyphicon glyphicon-home"></span>
                            <span class="sidebar-title">Dashboard</span>
                        </a>
                        {% endif %}
                    </li>
                    <li>
                        {% if(app.user.birthday is empty or app.user.cellphone is empty or app.user.gender is empty  ) %}
                        <a href="{{ path('update') }}">
                                <span class="fa fa-users"></span>
                                <span class="sidebar-title">Users</span>
                        </a>
                        {% else %}
                        <a href="{{ path('users') }}">
                            <span class="fa fa-users"></span>
                            <span class="sidebar-title">Users</span>
                        </a>
                        {% endif %}
                    </li>
                    <li>
                        {% if(app.user.birthday is empty or app.user.cellphone is empty or app.user.gender is empty  ) %}
                        <a href="{{ path('update') }}">
                            <span class="fa fa-calendar"></span>
                            <span class="sidebar-title">Events</span>
                        </a>
                        {% else %}
                        <a class="accordion-toggle" href="#">
                            <span class="fa fa-calendar"></span>
                            <span class="sidebar-title">Events</span>
                        </a>
                        {% endif %}
                        <ul class="nav sub-nav">
                            <li>
                                <a href="#">
                                    <span class="glyphicon glyphicon-book"></span> Event List </a>
                            </li>
                            <li>
                                <a href="{{ path('addevent') }}">
                                    <span class="glyphicon glyphicon-share-alt"></span> Add an event </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="glyphicon glyphicon-picture"></span> Media </a>
                            </li>
                        </ul>
                    </li>


                </ul>
                <!-- End: Sidebar Menu -->

                <!-- Start: Sidebar Collapse Button -->
                <div class="sidebar-toggle-mini">
                    <a href="#">
                        <span class="fa fa-sign-out"></span>
                    </a>
                </div>
                <!-- End: Sidebar Collapse Button -->

            </div>
            <!-- End: Sidebar Left Content -->

        </aside>
        <!-- End: Sidebar Left -->
        <!------------------------------------------------------------ End: SIDEBAR LEFT CONTENT -------------------------------------------------------------->
    {% endblock %}
    {% block topbar %}
        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">
            {% if(app.user.birthday is empty or app.user.cellphone is empty or app.user.gender is empty  ) %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="fa fa-exclamation-triangle pr10"></i>
                <strong>You profile is incomplete!</strong>
                <a href="{{ path('update') }}" class="alert-link">Complete your profile here!</a>
            </div>
            {% endif %}
            <!-- Start: Topbar-Dropdown -->
            <div id="topbar-dropmenu">
                <div class="topbar-menu row">
                    <div class="col-xs-4 col-sm-2">
                        <a href="#" class="metro-tile">
                            <span class="glyphicon glyphicon-inbox"></span>
                            <span class="metro-title">Messages</span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <a href="#" class="metro-tile">
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="metro-title">Users</span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <a href="#" class="metro-tile">
                            <span class="glyphicon glyphicon-headphones"></span>
                            <span class="metro-title">Support</span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <a href="#" class="metro-tile">
                            <span class="fa fa-gears"></span>
                            <span class="metro-title">Settings</span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <a href="#" class="metro-tile">
                            <span class="glyphicon glyphicon-facetime-video"></span>
                            <span class="metro-title">Videos</span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <a href="#" class="metro-tile">
                            <span class="glyphicon glyphicon-picture"></span>
                            <span class="metro-title">Pictures</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End: Topbar-Dropdown -->
        </section>
        <!-- End: Content-Wrapper -->
    {% endblock %}
    {% block body %}{% endblock %}
    <!-- BEGIN: PAGE SCRIPTS -->
    {% block javascripts %}
        <!-- jQuery -->
        <script src="{{ asset('assets/vendor/jquery/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/jquery/jquery_ui/jquery-ui.min.js') }}"></script>
        <!-- Theme Javascript -->
        <script src="{{ asset('assets/js/utility/utility.js') }}"></script>
        <script src="{{ asset('assets/js/demo/demo.js') }}"></script>
        <script src="{{ asset('assets/js/main.js') }}"></script>
        <script type="text/javascript">
            jQuery(document).ready(function() {

                "use strict";

                // Init Demo JS
                Demo.init();


                // Init Theme Core
                Core.init();


                // Init Widget Demo JS
                // demoHighCharts.init();

                // Because we are using Admin Panels we use the OnFinish
                // callback to activate the demoWidgets. It's smoother if
                // we let the panels be moved and organized before
                // filling them with content from various plugins

                // Init plugins used on this page
                // HighCharts, JvectorMap, Admin Panels

                // Init Admin Panels on widgets inside the ".admin-panels" container
                $('.admin-panels').adminpanel({
                    grid: '.admin-grid',
                    draggable: true,
                    preserveGrid: true,
                    // mobile: true,
                    onStart: function() {
                        // Do something before AdminPanels runs
                    },
                    onSave: function() {
                        $(window).trigger('resize');
                    }
                });
            });
        </script>
        <!-- END: PAGE SCRIPTS -->
    {% endblock %}
</div>
</body>

</html>
