
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>North American University</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap Core CSS -->
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/flexslider.min.css') }}">
    <link href="{{ asset('assets/css/line-icons.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('assets/css/elegant-icons.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('assets/css/lightbox.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('assets/css/theme.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <!--[if gte IE 9]-->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/ie9.css') }}" />
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
    <script src="{{ asset('assets/js/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
    {% endblock %}
</head>
<body>
<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

<div class="nav-container">
    <nav class="top-bar overlay-bar">
        <div class="container">

            <div class="row utility-menu">
                <div class="col-sm-12">
                    <div class="utility-inner clearfix">
                        <span class="alt-font"><i class="icon icon_pin"></i> 300 Collins St Melbourne</span>
                        <span class="alt-font"><i class="icon icon_mail"></i> hello@pivot.net</span>

                        <div class="pull-right">
                            <a href="{{ path('login') }}" class="btn btn-primary btn-white btn-xs">Login</a>
                            <a href="{{ path('register') }}" class="btn btn-primary btn-filled btn-xs">Signup</a>
                            <a href="#" class="language"><img alt="English" src="{{ asset('assets/img/english.png') }}"></a>
                            <a href="#" class="language"><img alt="English" src="{{ asset('assets/img/denmark.png') }}"></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row nav-menu">
                <div class="col-md-2 col-sm-3 columns">
                    <img class="logo logo-light" alt="Logo" src="{{ asset('assets/img/logo-light.png') }}">
                    <img class="logo logo-dark" alt="Logo" src="{{ asset('assets/img/logo-dark.png') }}">
                </div>

                <div class="col-md-10 col-sm-9 columns">
                    <ul class="menu">
                        <li><a href="#">Single Link</a></li>
                        <li class="has-dropdown"><a href="#">Dropdown</a>
                            <ul class="subnav">
                                <li><a href="#">Example</a></li>
                                <li><a href="#">Example</a></li>
                                <li><a href="#">Example</a></li>
                                <li><a href="#">Example</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown"><a href="#">Half Width</a>
                            <div class="subnav subnav-halfwidth">
                                <div class="col-md-6">
                                    <h6 class="alt-font">Subnav Title</h6>
                                    <ul class="subnav">
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                    </ul>
                                </div>

                                <div class="col-md-6">
                                    <h6 class="alt-font">Subnav Title</h6>
                                    <ul class="subnav">
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="has-dropdown"><a href="#">Fullwidth</a>
                            <div class="subnav subnav-fullwidth">
                                <div class="col-md-3">
                                    <h6 class="alt-font">Subnav Title</h6>
                                    <ul class="subnav">
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                    </ul>
                                </div>

                                <div class="col-md-3">
                                    <h6 class="alt-font">Subnav Title</h6>
                                    <ul class="subnav">
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                    </ul>
                                </div>

                                <div class="col-md-3">
                                    <h6 class="alt-font">Subnav Title</h6>
                                    <ul class="subnav">
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                    </ul>
                                </div>

                                <div class="col-md-3">
                                    <h6 class="alt-font">Subnav Title</h6>
                                    <ul class="subnav">
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Example</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <ul class="social-icons text-right">
                        <li>
                            <a href="#">
                                <i class="icon social_twitter"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="icon social_facebook"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="icon social_instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="mobile-toggle">
                <i class="icon icon_menu"></i>
            </div>

        </div>
    </nav>

</div>

<div class="main-container">
    <header class="signup">
        <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="{{ asset('assets/img/hero9.jpg') }}">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                    <h1 class="text-white">We're getting ready to launch<br>Subscribe now to stay informed</h1>
                </div>
            </div>

            <div class="row text-center">

                <div class="col-sm-12 text-center">
                    <div class="photo-form-wrapper clearfix">
                        <form class="mail-list-signup">
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-md-offset-3 col-sm-offset-2">
                                    <input class="signup-name-field validate-required" type="text" placeholder="Your Name">
                                </div>

                                <div class="col-md-3 col-sm-4">
                                    <input class="signup-email-field validate-required validate-email" type="text" placeholder="Your Email Address">
                                </div>

                                <div class="col-md-12 col-md-offset-0 col-sm-4 col-sm-offset-4 text-center">
                                    <input type="submit" class="btn btn-primary btn-filled" value="Subscribe">
                                </div>
                            </div>
                        </form>
                    </div>

                    <span class="text-white">We <strong>never</strong> share emails with third parties</span>
                </div>

            </div>
            <iframe class="mail-list-form" srcdoc="">
            </iframe>

        </div>
    </header>
</div>

<div class="footer-container">



    <footer class="bg-primary short-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span class="text-white">© 2014 Pivot Inc.</span>
                    <span class="text-white"><a href="#">hello@pivot.net</a></span>
                    <span class="text-white">+614 3827 492</span>
                    <span class="text-white">300 Collins St. Melbourne 3000</span>
                </div>
            </div>
        </div>

        <div class="contact-action">
            <div class="align-vertical">
                <i class="icon text-white icon_mail"></i>
                <a href="contact.html" class="text-white"><span class="text-white">Get in touch with us <i class="icon arrow_right"></i></span></a>
            </div>
        </div>
    </footer>
</div>
{% block javascripts %}
<script src="https://www.youtube.com/iframe_api"></script>
<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.plugin.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.flexslider-min.js') }}"></script>
<script src="{{ asset('assets/js/smooth-scroll.min.js') }}"></script>
<script src="{{ asset('assets/js/skrollr.min.js') }}"></script>
<script src="{{ asset('assets/js/spectragram.min.js') }}"></script>
<script src="{{ asset('assets/js/scrollReveal.min.js') }}"></script>
<script src="{{ asset('assets/js/isotope.min.js') }}"></script>
<script src="{{ asset('assets/js/twitterFetcher_v10_min.js') }}"></script>
<script src="{{ asset('assets/js/lightbox.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.countdown.min.js') }}"></script>
<script src={{ asset('assets/js/scripts.js') }}></script>
{% endblock %}
</body>
</html>
				