{% extends ':default:front-end.html.twig' %}
{% block content %}
    <div class="head">
        <div class="logo">
            <div class="logo-top">
                <h1>Retreat Management System</h1>
            </div>
            <div class="logo-bottom">
                <section class="sky-form">
                    <label class="radio"><input type="radio" name="radio" checked="checked"><i></i>Manage retreat payment system</label>
                    <label class="radio"><input type="radio" name="radio"><i></i>Invite and follow attendees</label>
                    <label class="radio"><input type="radio" name="radio"><i></i>Track daily schedule and activities</label><br>
                    <label class="radio " style="padding-left: 15%;">Don't have an account?</label>
                    <a href="{{ path('register') }}"> <button type="submit" class="btn btn-primary" style="margin-left: 4%; padding:6px 99px">Sign Up</button></a>

                </section>
            </div>
        </div>

        <div class="login">
            <div class="sap_tabs">
                <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                    <ul class="resp-tabs-list">
                        <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Sign in</span></li>
                        <div class="clearfix">

                        </div>
                    </ul>

                    <div class="resp-tabs-container">
                        <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                            <div class="login-top">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                <div class="admin-form theme-info mw400" id="login">
                                    <form action="{{ path('login') }}" method="post" class="admin-form">
                                        <div class="section">
                                            <label for="username" class="field prepend-icon">
                                                <input type="email" class="gui-input"  placeholder="Enter Username" id="username" name="_username" value="{{ last_username }}" required="required" />
                                                <label for="username" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <div class="section">
                                            <label for="password" class="field prepend-icon">
                                                <input class="gui-input" placeholder="Enter Password" type="password" id="password" name="_password" required="required" />
                                                <label for="password" class="field-icon">
                                                    <i class="fa fa-lock"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <input type="hidden" name="_csrf_token"
                                               value="{{ csrf_token('authenticate') }}">
                                        <!-- end .section row section -->
                                        <div class="login-bottom login-bottom1">
                                            <div class="submit">
                                                <button type="submit" class="btn btn-primary btn-md">Sign In</button>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                                <div class="login-top">
                                    <form>
                                        <input type="text" class="name active" placeholder="Your Name" required=""/>
                                        <input type="text" class="email" placeholder="Email" required=""/>
                                        <input type="password" class="password" placeholder="Password" required=""/>
                                    </form>
                                    <div class="login-bottom">
                                        <div class="submit">
                                            <button type="submit" class="button btn-success mr10">Sign In</button>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="account">
            <ul>
                <li><p>Forgot <a href="{{ path('resetpasswordrequest') }}">password?</a></p></li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>
{% endblock %}