{% extends '::default.html.twig' %}
{% block styles %}
    <link rel='stylesheet' type='text/css' href={{ asset('assets/fonts/stateface/stateface.css') }}>
{% endblock %}
{% block body %}
<body>
    <!-- Start: CONTENT WRAPPER -->
    <section id="content_wrapper">
        {#{% for flash_message in app.session.flashBag.get('welcome') %}#}
            {#<div class="alert alert-system alert-dismissable"  style="width: 100%; opacity: 1; display: block; overflow: visible; left: 0px; top: 0px;">#}
                {#<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>#}
                {#<i class="fa fa-cubes pr10"></i>#}
                {#<strong>{{ flash_message }}</strong>#}
                {#It is great to see you again!#}
            {#</div>#}
        {#{% endfor %}#}
        <!-- Start: TOPBAR -->
        <header id="topbar">
            <div class="topbar-left">
                <ol class="breadcrumb">
                    <li class="crumb-active">
                        <a href="{{ path('dashboard') }}">Dashboard</a>
                    </li>
                    <li class="crumb-icon">
                        <a href="{{ path('dashboard') }}">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                    </li>
                </ol>
            </div>
        </header>
        {% for flash_message in app.session.flashBag.get('welcome') %}
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="fa fa-exclamation-triangle pr10"></i>
                <strong>{{ flash_message }}</strong>
                <a href="{{ path('update') }}" class="alert-link">It is great to see you again ^_^</a>
            </div>
        {% endfor %}
        <!-- End: TOPBAR -->

        <!-- Begin: CONTENT -->
        <section id="content" >
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Panel title</span>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </section>
        <!-- End: CONTENT-->
    </section>
    <style>
        /*chart demo styles*/
        .c3 {}
        /* tick color */
        .c3 .tick {
            fill: #AAA;
        }
        /* axis color */
        .c3 line,
        .c3 path {
            stroke: #BBB;
        }
        /*axis label color*/
        .c3 .c3-axis-x-label,
        .c3 .c3-axis-y-label {
            fill: #AAA;
        }
        /*legend label text color*/
        .c3-legend-item {
            fill: #888;
            font-size: 14px;
        }
    </style>
</body>
{% endblock %}
{% block javascripts %}
    <!-- BEGIN: PAGE SCRIPTS -->

    <!-- jQuery -->
    <script src="{{ asset('assets/vendor/jquery/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery/jquery_ui/jquery-ui.min.js') }}"></script>

    <!-- Page Plugins -->
    <script src="{{ asset('assets/js/demo/charts/d3.js') }}"></script>
    <script src="{{ asset('assets/vendor/plugins/c3charts/c3.min.js') }}"></script>

    <!-- Theme Javascript -->
    <script src="{{ asset('assets/js/utility/utility.js') }}"></script>
    <script src="{{ asset('assets/js/demo/demo.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>

    <!-- Page Javascript -->
    <script src="{{ asset('assets/js/demo/charts/d3.js') }}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {

            "use strict";

            // Init Theme Core
            Core.init();

            // Init Demo JS
            Demo.init();

            // This page contains more Initilization Javascript than normal.
            // As a result it has its own js page. See charts.js for more info
            D3Charts.init();


        });
    </script>
    <!-- END: PAGE SCRIPTS -->
{% endblock %}