{% extends '::default.html.twig' %}
{% block body %}
    <body class="ecommerce-page">
    <!-- End: Topbar -->
    <!-- Start: Content-Wrapper -->
    <section id="content_wrapper">
        <!-- Start: Topbar -->
        <header id="topbar" class="ph10">
            <div class="topbar-left">
                <ul class="nav nav-list nav-list-topbar pull-left">
                    <li class="active">
                        <a href="{{ path('dashboard') }}">Dashboard</a>
                    </li>
                </ul>
            </div>
        </header>
        <!-- End: Topbar -->

        <!-- Begin: Content -->
        <section id="content" class="table-layout animated fadeIn">

            <!-- begin: .tray-center -->
            <div class="tray tray-center">

                <!-- dashboard tiles -->
                <div class="row">
                    <div class="col-sm-4 col-xl-3">
                        <div class="panel panel-tile text-center br-a br-grey">
                            <div class="panel-body">
                                <h1 class="fs30 mt5 mbn">{{ events|length }}</h1>
                                <h6 class="text-system">Events</h6>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4 col-xl-3">
                        <div class="panel panel-tile text-center br-a br-grey">
                            <div class="panel-body">
                                <h1 class="fs30 mt5 mbn">{{ attendees|length }}</h1>
                                <h6 class="text-success">Attendees</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xl-3">
                        <div class="panel panel-tile text-center br-a br-grey">
                            <div class="panel-body">
                                <h1 class="fs30 mt5 mbn">{{ dependents|length }}</h1>
                                <h6 class="text-warning">Dependents</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xl-3 visible-xl">
                        <div class="panel panel-tile text-center br-a br-grey">
                            <div class="panel-body">
                                <h1 class="fs30 mt5 mbn">{{ users|length }}</h1>
                                <h6 class="text-danger">Users</h6>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Pie and Circle Stats  -->
                <div class="row" id="pchart5">
                    <div class="col-md-5">
                        <!-- Pie Chart -->
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title fw600 text-info">Gender Comparison</span>
                            </div>
                            <div class="panel-body pn">
                                <div id="highchart-pie" style="width: 100%; height: 280px; margin: 0 auto"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <!-- Circle Stats -->
                        <div class="panel">
                            <div class="panel-heading">
                                    <span class="panel-title fw600 text-info">Age Comparison
                                </span>
                            </div>
                            <div class="panel-body">
                                <div id="highchart-bar" style="width: 100%; height: 250px; margin: 0 auto"></div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- recent activity table -->
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title hidden-xs"> Latest Attendees</span>
                    </div>
                    <div class="panel-body pn">
                        <div class="table-responsive">
                            <table class="table admin-form theme-warning tc-checkbox-1 fs13">
                                <thead>
                                <tr class="bg-light">
                                    <th class="">Attendee</th>
                                    <th class="">Event</th>
                                    <th class="">Event Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for attendee in attendees|slice(0,5) %}
                                <tr>
                                    <td class="">{{ attendee.name }}</td>
                                    <td class="">{{ attendee.event.name }}</td>
                                    <td class="">
                                        {% if 'now'|date('Y-m-d') < attendee.event.startDate|date('Y-m-d') %}
                                            <div class="btn-group text-center">
                                                <span class="text-primary">Upcoming</span>

                                            </div>

                                        {% elseif 'now'|date('Y-m-d') >= attendee.event.startDate|date('Y-m-d') and 'now'|date('Y-m-d') <= attendee.event.endDate|date('Y-m-d') %}
                                            <div class="btn-group text-center">
                                                <span class="text-success"> Active </span>

                                            </div>

                                        {% elseif 'now'|date('Y-m-d') > attendee.event.endDate|date('Y-m-d') %}
                                            <div class="btn-group text-center">
                                                <span class="text-danger"> Expired </span>

                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                {#<!-- info traffic panels -->#}
                {#<div class="row">#}
                    {#<div class="col-md-12">#}
                        {#<div class="panel">#}
                            {#<div class="panel-heading">#}
                                {#<span class="panel-title">Top Locations</span>#}
                            {#</div>#}
                            {#<div class="panel-body pn">#}
                                {#<table class="table mbn tc-med-1 tc-bold-last">#}
                                    {#<thead>#}
                                    {#<tr class="">#}
                                        {#<th>State</th>#}
                                        {#<th>Male</th>#}
                                        {#<th>Female</th>#}
                                        {#<th>Youth</th>#}
                                        {#<th>Adult</th>#}
                                    {#</tr>#}
                                    {#</thead>#}
                                    {#<tbody>#}
                                    {#<tr>#}
                                        {#<td>#}
                                            {#<span class="flag-xs flag-us mr5 va-b"></span>Texas</td>#}
                                        {#<td>28%</td>#}
                                        {#<td>2%</td>#}
                                        {#<td>12%</td>#}
                                        {#<td>8%</td>#}
                                    {#</tr>#}
                                    {#<tr>#}
                                        {#<td>#}
                                            {#<span class="flag-xs flag-de mr5 va-b"></span>California</td>#}
                                        {#<td>12%</td>#}
                                        {#<td>5%</td>#}
                                        {#<td>2%</td>#}
                                        {#<td>19%</td>#}
                                    {#</tr>#}
                                    {#<tr>#}
                                        {#<td>#}
                                            {#<span class="flag-xs flag-fr mr5 va-b"></span>Florida</td>#}
                                        {#<td>14%</td>#}
                                        {#<td>15%</td>#}
                                        {#<td>12%</td>#}
                                        {#<td>29%</td>#}
                                    {#</tr>#}
                                    {#<tr>#}
                                        {#<td>#}
                                            {#<span class="flag-xs flag-tr mr5 va-b"></span>New Jersey</td>#}
                                        {#<td>22%</td>#}
                                        {#<td>11%</td>#}
                                        {#<td>21%</td>#}
                                        {#<td>19%</td>#}
                                    {#</tr>#}
                                    {#<tr>#}
                                        {#<td>#}
                                            {#<span class="flag-xs flag-es mr5 va-b"></span>Istanbul</td>#}
                                        {#<td>33%</td>#}
                                        {#<td>23%</td>#}
                                        {#<td>18%</td>#}
                                        {#<td>12%</td>#}
                                    {#</tr>#}
                                    {#</tbody>#}
                                {#</table>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

            </div>
            <!-- end: .tray-center -->
        </section>
        <!-- End: Content -->
    </section>
    <!-- END: PAGE SCRIPTS -->
    </body>
    <!-- End: Content -->
{% endblock %}
{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('assets/vendor/jquery/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery/jquery_ui/jquery-ui.min.js') }}"></script>

    <!-- Sparkline Local -->
    <script src="{{ asset('assets/vendor/plugins/sparkline/jquery.sparkline.min.js') }}"></script>

    <!-- HighCharts Plugin -->
    <script src="{{ asset('assets/vendor/plugins/highcharts/highcharts.js') }}"></script>
    <script src="{{ asset('assets/vendor/plugins/circles/circles.js') }}"></script>

    <!-- Theme Javascript -->
    <script src="{{ asset('assets/js/utility/utility.js') }}"></script>
    <script src="{{ asset('assets/js/demo/demo.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <script src="{{ asset('assets/js/demo/charts/highcharts.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {

            "use strict";

            // Init Theme Core
            Core.init();

            // Init Demo JS
            Demo.init();

            // This page contains more Initilization Javascript than normal.
            // As a result it has its own js page. See charts.js for more info
            demoHighCharts.init();

            // Pie Chart
            var HighChartPie = $('#highchart-pie');
            if (HighChartPie.length) {

                HighChartPie.highcharts({
                    credits: false, // Disable HighCharts logo
                    colors: ['#f6bb42', '#4a89dc', '#3bafda'], // Set Colors
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: null
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            center: ['30%', '50%'],
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false
                            },
                            showInLegend: true
                        }
                    },
                    legend: {
                        x: 90,
                        floating: true,
                        verticalAlign: "middle",
                        layout: "vertical",
                        itemMarginTop: 10
                    },
                    series: [{
                        type: 'pie',
                        name: 'Gender Comparison',
                        data: [
                            ['Male', {{ (male|length * 100) / (male|length + female|length) }}],
                            ['Female', {{ (female|length * 100) / (male|length + female|length) }}]
                        ]
                    }]
                });
            }

        });

        // Bar Chart
        var HighChartBar = $('#highchart-bar');
        if (HighChartBar.length) {

            HighChartBar.highcharts({
                credits: false,
                colors: ['#f6bb42', '#4a89dc', '#3bafda'],
                chart: {
                    type: 'bar',
                    backgroundColor: 'transparent',
                },
                legend: {
                    enabled: true,
                    verticalAlign: 'top',
                    y: -5,
                },
                title: {
                    text: null
                },
                xAxis: {
                    showEmpty: true,
                    tickLength: 80,
                    lineColor: '#EEE',
                    tickColor: '#EEE',
                    offset: 1,
                    categories: ['Percentage'],
                    title: {
                        text: null
                    },
                    labels: {
                        align: 'right'
                    }
                },
                yAxis: {
                    min: 0,
                    gridLineWidth: 0,
                    showEmpty: false
                },
                tooltip: {
                    valueSuffix: ' %',
                },
                series: [ {
                    name: 'Adult',
                    data: [{{ ((adult|length * 100) / (student|length + youth|length + adult|length))|round(1, 'floor') }}]
                }, {
                    name: 'Student',
                    data: [{{ ((student|length * 100) / (student|length + youth|length + adult|length))|round(1, 'floor') }}]
                }, {
                    name: 'Youth',
                    data: [{{ ((youth|length * 100) / (student|length + youth|length + adult|length))|round(1, 'floor') }}]
                }]
            });
        }
    </script>
{% endblock %}