{% extends '::default.html.twig' %}
{% block styles %}
    <!-- PNotify -->
    <script src="{{ asset('assets/vendor/plugins/pnotify/pnotify.js') }}"></script>
{% endblock %}
{% block body %}
    <!-- Start: CONTENT WRAPPER -->
    <section id="content_wrapper">
        {#{% for flash_message in app.session.flashBag.get('welcome') %}#}
            {#<div class="alert alert-system alert-dismissable"  style="width: 100%; opacity: 1; display: block; overflow: visible; left: 0px; top: 0px;">#}
                {#<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>#}
                {#<i class="fa fa-cubes pr10"></i>#}
                {#<strong>{{ flash_message }}</strong>#}
                {#It is great to see you again!#}
            {#</div>#}
        {#{% endfor %}#}
        <!-- Start: TOPBAR -->
        <header id="topbar">
            <div class="topbar-left">
                <ol class="breadcrumb">
                    <li class="crumb-active">
                        <a href="{{ path('dashboard') }}">Dashboard</a>
                    </li>
                    <li class="crumb-icon">
                        <a href="{{ path('dashboard') }}">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                    </li>
                </ol>
            </div>
        </header>
        {% for flash_message in app.session.flashBag.get('welcome') %}
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="fa fa-exclamation-triangle pr10"></i>
                <strong>{{ flash_message }}</strong>
                <a href="{{ path('update') }}" class="alert-link">It is great to see you again ^_^</a>
            </div>
        {% endfor %}
        <!-- End: TOPBAR -->

        <!-- Begin: CONTENT -->
        <section id="content" >
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Panel title</span>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </section>
        <!-- End: CONTENT-->
    </section>
{% endblock %}