{% extends '::default.html.twig' %}
{% block stylesheets %}

    <!-- Datatables ColReorder Addon CSS -->
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/vendor/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css') }}">
    <!-- Datatables CSS -->
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/vendor/plugins/datatables/media/css/dataTables.bootstrap.css') }}">
    <!-- Font CSS (Via CDN) -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
    <!-- Font CSS -->
    <link rel='stylesheet' type='text/css' href='{{ asset('assets/fonts/font-awesome/css/font-awesome.css') }}'>
    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/skin/default_skin/css/theme.css') }}">

    <link href="{{ asset('assets/css/theme.css') }}" rel="stylesheet" type="text/css" media="all"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/admin-tools/admin-forms/css/admin-forms.css') }}">

{% endblock %}

{% block body %}

    <body class="blank-page sb-sl-o sb-r-c onload-check" style="min-height: 686px;">

    <!-- Start: Content-Wrapper -->
    <section id="content_wrapper">
        <!-- Start: TOPBAR -->
        <header id="topbar">

            <div class="topbar-left">
                <ol class="breadcrumb">
                    <li class="crumb-active">
                        <a href="{{ path('dashboard') }}">Dashboard</a>
                    </li>

                    <li class="crumb-link">
                        <a href="{{ path('listevents') }}">Event List</a>
                    </li>

                    <li class="crumb-link">
                        <a href="#">Event</a>
                    </li>
                </ol>
            </div>
        </header>
        <header class="page-header">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image"
                     src="http://kampapp.com/parallax/img/kampappimage.png">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1 class="text-white">{{ event.name }}</h1>
                        {#<a href="#" class="btn btn-primary btn-filled space-bottom-medium">Join Now</a>#}
                        <h3 class="text-white space-bottom-small">{{ event.startDate|date("m-d-Y") }}
                            | {{ event.endDate|date("m-d-Y") }}</h3>
                        <p style="color: #fff;">{{ event.description }}</p>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('edit-event', {'eventid': event.id}) }}" class="text-primary">Edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% for flash_message in app.session.flashBag.get('dependentsuccess') %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <i class="fa fa-check pr10"></i>
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashBag.get('attendee_exists') %}
                <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <i class="fa fa-check pr10"></i>
                    {{ flash_message }}
                </div>
            {% endfor %}
        </header>

        <!-- Begin: Content -->
        <section id="content" class="animated fadeIn">

            {% if is_granted('ROLE_ADMIN') %}
                <span style="margin: 3%; " class="text-center sub alt-font"><h3>Search Users</h3></span>
                <a href="#attendeeTable"><button style="margin-bottom: 20px;" type="button" class="center-block btn btn-primary"
                        data-toggle="modal" data-target=".bs-example-modal-lg">Search
                </button>
                </a>

                <div id="attendeeTable" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add an attendee</h4>
                                {% for flash_message in app.session.flashBag.get('attendee_exists') %}
                                    <div class="alert alert-warning alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                        </button>
                                        <i class="fa fa-check pr10"></i>
                                        {{ flash_message }}
                                    </div>
                                {% endfor %}
                            </div>
                            <table class="table table-striped table-hover" id="datatable1" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Dependents</th>
                                    <th>Check in Date</th>
                                    <th>Check out Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('showusers', {'userid': user.id}) }}"
                                               target="_blank">{{ user.fullname }}</a>
                                        </td>
                                        <td><a href="mailto:{{ user.username }}?Subject=Hello"
                                               target="_top">{{ user.username }}</a></td>
                                        <td>
                                            {{ user.gender }}
                                        </td>
                                        <td class="text-right">
                                            <div class="btn-group text-right">
                                                <a href="{{ path('addattendees', {'eventid': event.id, 'userid': user.id}) }}">Select</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}

            <div class="col-md-12">
                <div class="panel panel-visible" id="spy3">
                    <div class="panel-heading">
                        <div class="panel-title hidden-xs">
                            <span class="glyphicon glyphicon-tasks"></span>Attendees
                        </div>
                    </div>
                    <div class="panel-body pn">
                        <table class="table table-striped table-hover" id="datatable" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>User</th>
                                <th>Dependents</th>
                                <th>Check in Date</th>
                                <th>Check out Date</th>
                                <th>Cost</th>
                                <th class=""></th>
                                <th class=""></th>
                            </tr>
                            </thead>
                            <tbody>


                            {% for attendee in attendees %}
                                <tr>
                                    <td>
                                        <a href="{{ path('showusers', {'userid': attendee.userid}) }}">{{ attendee.name }}</a>
                                    </td>
                                    <td>
                                        <b><a href="{{ path('savedependent', {'eventid': event.id, 'attendeeId': attendee.id}) }}">{{ attendee.dependents|length }}</a></b>
                                    </td>
                                    <td>
                                        {% if attendee.checkin|length <= 0 %}
                                            <a href="{{ path('checkincheckout', {'attendeeId': attendee.id, 'eventid':event.id}) }}"
                                               ><b>Check in</b></a>
                                        {% else %}
                                            <a href="{{ path('checkincheckout', {'attendeeId': attendee.id, 'eventid':event.id}) }}"
                                            ><b>{{ attendee.checkin }}</b></a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if attendee.checkout|length <= 0 %}
                                            <a href="{{ path('checkincheckout', {'attendeeId': attendee.id, 'eventid':event.id}) }}"
                                            ><b>Check out</b></a>
                                        {% else %}
                                            <a href="{{ path('checkincheckout', {'attendeeId': attendee.id, 'eventid':event.id}) }}"
                                            ><b>{{ attendee.checkout }}</b></a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if attendee.dependents|length > 0 %}
                                        {%  set dependents = attendee.dependents %}
                                        {% for dependent in dependents %}

                                            {% set difference1 = date(dependent.attendee.checkin).diff(date(dependent.attendee.checkout)) %}

                                            {%  if dependent.status == "1" %}
                                                {% set value = 75 %}
                                            {% elseif dependent.status == "2" %}
                                                {% set value = 100 %}
                                            {% elseif dependent.status == "3" %}
                                                {% set value = 150 %}
                                            {% elseif dependent.status == "4" %}
                                                {% set value = 300 %}
                                            {% elseif dependent.status == "5" %}
                                                {% set value = 450 %}
                                            {% elseif dependent.status == "8" %}
                                                {% set value = 0 %}
                                            {% elseif dependent.status == "6" %}
                                                {% set value = 60 * difference1.days %}
                                            {% elseif dependent.status == "7" %}
                                                {% set value = 30 * difference1.days %}
                                            {% else %}
                                                {% set value = 0 %}
                                            {% endif %}



                                        {% set difference = date(attendee.checkin).diff(date(attendee.checkout)) %}

                                        {%  if attendee.status == "1" %}
                                            ${{ 75 + value }}
                                        {% elseif attendee.status == "2" %}
                                            ${{ 100 + value }}
                                        {% elseif attendee.status == "3" %}
                                            ${{ 150 + value }}
                                        {% elseif attendee.status == "4" %}
                                            ${{ 300 + value }}
                                        {% elseif attendee.status == "5" %}
                                            ${{ 450 + value }}
                                        {% elseif attendee.status == "8" %}
                                            ${{ 0 + value }}
                                        {% elseif attendee.status == "6" %}
                                            ${{ (60 * difference.days) + value }}
                                        {% elseif attendee.status == "7" %}
                                            ${{ (60 * difference.days) + value }}
                                        {% endif %}
                                        {% endfor %}
                                            {% else %}
                                                {% set difference = date(attendee.checkin).diff(date(attendee.checkout)) %}

                                                {%  if attendee.status == "1" %}
                                                    ${{ 75 }}
                                                {% elseif attendee.status == "2" %}
                                                    ${{ 100 }}
                                                {% elseif attendee.status == "3" %}
                                                    ${{ 150 }}
                                                {% elseif attendee.status == "4" %}
                                                    ${{ 300  }}
                                                {% elseif attendee.status == "5" %}
                                                    ${{ 450  }}
                                                {% elseif attendee.status == "6" %}
                                                    ${{ 60 * difference.days }}
                                                {% elseif attendee.status == "7" %}
                                                    ${{ 60 * difference.days }}
                                                {% endif %}
                                        {% endif %}
                                        {#{% switch attendee.status %}#}

                                            {#{% case "1" %}#}

                                                {#$75#}

                                            {#{% case "2" %}#}

                                                {#$100#}

                                            {#{% case "3" %}#}

                                                {#$150#}

                                            {#{% case "4" %}#}

                                                {#$300#}

                                            {#{% case "5" %}#}

                                                {#$450#}

                                            {#{% case "6" %}#}

                                                {#{{ difference * 60 }}#}

                                            {#{% case "7" %}#}

                                            {#{{ difference * 30 }}#}

                                            {#{% default %}#}

                                               {#N/A#}

                                        {#{% endswitch %}#}

                                    </td>

                                    <td>
                                        <b> <a href="{{ path('checkincheckout', {'attendeeId': attendee.id, 'eventid':event.id}) }}#edit"
                                            >Edit</a></b>
                                    </td>

                                    <td><a href="{{ path('deleteattendee', {'id': attendee.id}) }}"
                                           class="text-danger"
                                           onclick="return confirm('Are you sure that you want to remove this attendee?')">
                                            Remove
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!-- End: Content -->
    </section>
    </body>
{% endblock %}
{% block javascripts %}
    {% set userlist %}
        {% for user in users %}
            "{{ user.fullname|raw }}"{{ ',' }}
        {% endfor %}
    {% endset %}
    <!-- jQuery -->
    <script src="{{ asset('assets/vendor/jquery/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery/jquery_ui/jquery-ui.min.js') }}"></script>
    <!-- Theme Javascript -->
    <script src="{{ asset('assets/js/utility/utility.js') }}"></script>
    <script src="{{ asset('assets/js/demo/demo.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>

    <!-- Datatables -->
    <script src="{{ asset('assets/vendor/plugins/datatables/media/js/jquery.dataTables.js') }}"></script>

    <!-- Datatables Tabletools addon -->
    <script src="{{ asset('assets/vendor/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.js') }}"></script>

    <!-- Datatables ColReorder addon -->
    <script src="{{ asset('assets/vendor/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js') }}"></script>

    <!-- Datatables Bootstrap Modifications  -->
    <script src="{{ asset('assets/vendor/plugins/datatables/media/js/dataTables.bootstrap.js') }}"></script>


    <script type="text/javascript">
        jQuery(document).ready(function () {

            "use strict";

            // Init Demo JS
            Demo.init();


            // Init Theme Core
            Core.init();


            // Init Widget Demo JS
            // demoHighCharts.init();

            // Because we are using Admin Panels we use the OnFinish
            // callback to activate the demoWidgets. It's smoother if
            // we let the panels be moved and organized before
            // filling them with content from various plugins

            // Init plugins used on this page
            // HighCharts, JvectorMap, Admin Panels

            // Init Admin Panels on widgets inside the ".admin-panels" container
            $('.admin-panels').adminpanel({
                grid: '.admin-grid',
                draggable: true,
                preserveGrid: true,
                // mobile: true,
                onStart: function () {
                    // Do something before AdminPanels runs
                },
                onSave: function () {
                    $(window).trigger('resize');
                }
            });
        });
    </script>
    <script>
        $(".phone").text(function (i, text) {
            text = text.replace(/(\d{1})(\d{3})(\d{3})(\d{4})/, '$1-($2)-$3-$4');
            return text;
        });
    </script>
    <script>
        // Init Twitter Typeahead.js
        var substringMatcher = function (strs) {
            return function findMatches(q, cb) {
                var matches, substrRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function (i, str) {
                    if (substrRegex.test(str)) {
                        // the typeahead jQuery plugin expects suggestions to a
                        // JavaScript object, refer to typeahead docs for more info
                        matches.push({
                            value: str
                        });
                    }
                });

                cb(matches);
            };
        };

        // Define List
        var usernames = [ {{ userlist }} ];
        //
        //        // Init Typeahead
        //        $('.typeahead').typeahead({
        //            hint: true,
        //            highlight: true,
        //            minLength: 1
        //        }, {
        //            name: 'usernames',
        //            displayKey: 'value',
        //            source: substringMatcher(usernames)
        //        });
    </script>

    <script type="text/javascript">

        $('#datatable').dataTable({
            "aoColumnDefs": [{
                'bSortable': true,
                'aTargets': [-1]
            }],
            "oLanguage": {
                "oPaginate": {
                    "sPrevious": "",
                    "sNext": ""
                }
            },
            "iDisplayLength": 5,
            "aLengthMenu": [
                [5, 10, 25, 50, -1],
                [5, 10, 25, 50, "All"]
            ],
            "sDom": '<"dt-panelmenu clearfix"lTfr>t<"dt-panelfooter clearfix"ip>',
            "oTableTools": {
                "sSwfPath": "vendor/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
            }
        });
    </script>

    <script type="text/javascript">
        $('#datatable1').dataTable({
            "aoColumnDefs": [{
                'bSortable': true,
                'aTargets': [-1]
            }],
            "oLanguage": {
                "oPaginate": {
                    "sPrevious": "",
                    "sNext": ""
                }
            },
            "iDisplayLength": 10,
            "aLengthMenu": [
                [5, 10, 25, 50, -1],
                [5, 10, 25, 50, "All"]
            ],
            "sDom": '<"dt-panelmenu clearfix"lTfr>t<"dt-panelfooter clearfix"ip>',
            "oTableTools": {
                "sSwfPath": "vendor/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
            }
        });
    </script>

    <script>
        $(document).ready(function () {

            if (window.location.href.indexOf('#attendeeTable') != -1) {
                $('#attendeeTable').modal('show');
            }

        });
    </script>

    <!-- END: PAGE SCRIPTS -->
{% endblock %}
