{% extends '::default.html.twig' %}
{% block stylesheets %}
<meta charset="utf-8">
<title>Variant HTML Builder by Medium Rare</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/skin/default_skin/css/theme.css') }}">
<link href="{{ asset('assets/css/line-icons.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ asset('assets/css/elegant-icons.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ asset('assets/css/lightbox.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ asset('parallax/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ asset('assets/css/theme.css') }}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet" type="text/css" media="all"/>
<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
<script src="{{ asset('assets/js/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>

{% endblock %}
{% block body %}
    {% set userlist %}
        {% for user in users %}
            {{ user.fullname }}
            {{ loop.last ? '' : ', ' }}
        {% endfor %}
    {% endset %}
    <body class="blank-page sb-l-o sb-r-c onload-check" style="min-height: 686px;">
<section id="content_wrapper">

    <header class="page-header">
        <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="http://kampapp.com/parallax/img/kampappimage.png">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="text-white">{{ event.name }}</h1>

                    <a href="#" class="btn btn-primary btn-filled space-bottom-medium">Join Now</a>
                    <h3 class="text-white space-bottom-small">{{ event.startDate|date("m-d-Y")}} | {{ event.endDate|date("m-d-Y") }}</h3>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('edit-event', {'eventid': event.id}) }}" class="text-primary">Edit</a>
                    {% endif %}
                    <p style="color: #fff;">{{ event.description }}</p>
                </div>
            </div>
        </div>
    </header>
    {% if is_granted('ROLE_ADMIN') %}
    <section class="pure-text-centered">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                    <span class="sub alt-font">Search in users</span>
                    {#<p class="lead">#}
                        {#{{ event.description }}#}
                    {#</p>#}
                    <div class="panel-body p25">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">

                                <div class="col-md-8">
                                    <input type="text" class="form-control typeahead" id="typeahead-field" placeholder="Fruit List">
                                </div>
                                <label class="col-md-3 control-label" style="padding-top: 4px;"><span class="button btn-sm btn-success">Add as attendee</span></label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    <section class="map">
        <div class="map-holder">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25198.35985697838!2d144.979258257672!3d-37.86508725777717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad6686626d1c9bf%3A0x24b207169447a3a5!2sClyde+St%2C+St+Kilda+VIC+3182!5e0!3m2!1sen!2sau!4v1405983906843"></iframe>
        </div>
    </section>

</section>
    </body>
{% endblock %}
    {% block javascripts %}
        {% set userlist %}
            {% for user in users %}
                "{{user.fullname|raw}}"{{ ',' }}
            {% endfor %}
        {% endset %}
        <!-- jQuery -->
        <script src="{{ asset('assets/vendor/jquery/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/jquery/jquery_ui/jquery-ui.min.js') }}"></script>
        <!-- Theme Javascript -->
        <script src="{{ asset('assets/js/utility/utility.js') }}"></script>
        <script src="{{ asset('assets/js/demo/demo.js') }}"></script>
        <script src="{{ asset('assets/js/main.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.flexslider-min.js') }}"></script>
        <script src="{{ asset('assets/js/skrollr.min.js') }}"></script>
        <script src="{{ asset('assets/js/scrollReveal.min.js') }}"></script>
        <script src="{{ asset('assets/js/scripts.js') }}"></script>
        <!-- Typeahead Plugin -->
        <script src="{{ asset('assets/vendor/plugins/typeahead/typeahead.bundle.min.js') }}"></script>
        <script type="text/javascript">
            jQuery(document).ready(function() {

                "use strict";

                // Init Demo JS
                Demo.init();


                // Init Theme Core
                Core.init();


                // Init Widget Demo JS
                // demoHighCharts.init();

                // Because we are using Admin Panels we use the OnFinish
                // callback to activate the demoWidgets. It's smoother if
                // we let the panels be moved and organized before
                // filling them with content from various plugins

                // Init plugins used on this page
                // HighCharts, JvectorMap, Admin Panels

                // Init Admin Panels on widgets inside the ".admin-panels" container
                $('.admin-panels').adminpanel({
                    grid: '.admin-grid',
                    draggable: true,
                    preserveGrid: true,
                    // mobile: true,
                    onStart: function() {
                        // Do something before AdminPanels runs
                    },
                    onSave: function() {
                        $(window).trigger('resize');
                    }
                });
            });
        </script>
        <script>
            $(".phone").text(function(i, text) {
                text = text.replace(/(\d{1})(\d{3})(\d{3})(\d{4})/, '$1-($2)-$3-$4');
                return text;
            });
        </script>
        <script>
            // Init Twitter Typeahead.js
            var substringMatcher = function(strs) {
                return function findMatches(q, cb) {
                    var matches, substrRegex;

                    // an array that will be populated with substring matches
                    matches = [];

                    // regex used to determine if a string contains the substring `q`
                    substrRegex = new RegExp(q, 'i');

                    // iterate through the pool of strings and for any string that
                    // contains the substring `q`, add it to the `matches` array
                    $.each(strs, function(i, str) {
                        if (substrRegex.test(str)) {
                            // the typeahead jQuery plugin expects suggestions to a
                            // JavaScript object, refer to typeahead docs for more info
                            matches.push({
                                value: str
                            });
                        }
                    });

                    cb(matches);
                };
            };

            // Define List
            var fruits = [ {{userlist}} ];

            // Init Typeahead
            $('.typeahead').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                name: 'fruits',
                displayKey: 'value',
                source: substringMatcher(fruits)
            });
        </script>
        <!-- END: PAGE SCRIPTS -->
    {% endblock %}

