
{{ form_start(form) }}
    {{ form_row(form.oldPassword) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
<button type="submit">Update!</button>
{{ form_end(form) }}