{% extends '::securityview.html.twig' %}
{% block body %}
    <body>
    <div class="loader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <div class="nav-container">
        <nav class="top-bar overlay-bar">
            <div class="container">
                <div class="row utility-menu">
                    <div class="col-sm-12">
                        <div class="utility-inner clearfix">
                            <span class="alt-font"><i class="icon icon_pin"></i> 300 Collins St Melbourne</span>
                            <span class="alt-font"><i class="icon icon_mail"></i> hello@pivot.net</span>

                            <div class="pull-right">
                                <a href="{{ path('login') }}" class="btn btn-primary btn-white btn-xs">Login</a>
                                <a href="#" class="btn btn-primary btn-filled btn-xs">Signup</a>
                                <a href="#" class="language"><img alt="English" src="{{ asset('assets/img/english.png') }}"></a>
                                <a href="#" class="language"><img alt="English" src="{{ asset('assets/img/denmark.png') }}"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row nav-menu">
                    <div class="col-md-2 col-sm-3 columns">
                        <a href="{{ path('homepage') }}">
                            <img class="logo logo-light" alt="Logo" src="{{ asset('assets/img/logo-light.png') }}">
                            <img class="logo logo-dark" alt="Logo" src="{{ asset('assets/img/logo-dark.png') }}">
                        </a>
                    </div>

                    <div class="col-md-10 col-sm-9 columns">
                        <ul class="menu">
                            <li><a href="#">Single Link</a></li>
                            <li class="has-dropdown"><a href="#">Dropdown</a>
                                <ul class="subnav">
                                    <li><a href="#">Example</a></li>
                                    <li><a href="#">Example</a></li>
                                    <li><a href="#">Example</a></li>
                                    <li><a href="#">Example</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown"><a href="#">Half Width</a>
                                <div class="subnav subnav-halfwidth">
                                    <div class="col-md-6">
                                        <h6 class="alt-font">Subnav Title</h6>
                                        <ul class="subnav">
                                            <li><a href="#">Example</a></li>
                                            <li><a href="#">Example</a></li>
                                            <li><a href="#">Example</a></li>
                                            <li><a href="#">Example</a></li>
                                        </ul>
                                    </div>

                                    <div class="col-md-6">
                                        <h6 class="alt-font">Subnav Title</h6>
                                        <ul class="subnav">
                                            <li><a href="#">Example</a></li>
                                            <li><a href="#">Example</a></li>
                                            <li><a href="#">Example</a></li>
                                            <li><a href="#">Example</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="has-dropdown"><a href="#">Fullwidth</a>
                                <div class="subnav subnav-fullwidth">
                                    <div class="col-md-3">
                                        <h6 class="alt-font">Subnav Title</h6>
                                        <ul class="subnav">
                                            <li><a href="#">Example</a></li>
                                            <li><a href="#">Example</a></li>
                                            <li><a href="#">Example</a></li>
                                            <li><a href="#">Example</a></li>
                                        </ul>
                                    </div>

                                    <div class="col-md-3">
                                        <h6 class="alt-font">Subnav Title</h6>
                                        <ul class="subnav">
                                            <li><a href="#">Example</a></li>
                                            <li><a href="#">Example</a></li>
                                            <li><a href="#">Example</a></li>
                                            <li><a href="#">Example</a></li>
                                        </ul>
                                    </div>

                                    <div class="col-md-3">
                                        <h6 class="alt-font">Subnav Title</h6>
                                        <ul class="subnav">
                                            <li><a href="#">Example</a></li>
                                            <li><a href="#">Example</a></li>
                                            <li><a href="#">Example</a></li>
                                            <li><a href="#">Example</a></li>
                                        </ul>
                                    </div>

                                    <div class="col-md-3">
                                        <h6 class="alt-font">Subnav Title</h6>
                                        <ul class="subnav">
                                            <li><a href="#">Example</a></li>
                                            <li><a href="#">Example</a></li>
                                            <li><a href="#">Example</a></li>
                                            <li><a href="#">Example</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <ul class="social-icons text-right">
                            <li>
                                <a href="#">
                                    <i class="icon social_twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="icon social_facebook"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="icon social_instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mobile-toggle">
                    <i class="icon icon_menu"></i>
                </div>
            </div>
        </nav>
    </div>

    <div class="main-container">
        <section class="no-pad login-page fullscreen-element">

            <div class="background-image-holder">
                <img class="background-image" alt="Poster Image For Mobiles" src="{{ asset('assets/img/hero7.jpg') }}">
            </div>

            <div class="container align-vertical">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
                        <h1 class="text-white">Sign Up Now</h1>
                        {% if not form.username.vars.valid %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="fa fa-remove pr10"></i>

                                <strong>{{ form_errors(form.username) }}</strong>
                            </div>
                        {% endif %}
                        {% if not form.plainPassword.vars.valid %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="fa fa-remove pr10"></i>
                                <strong> {{ form_errors(form.plainPassword) }}</strong>
                            </div>
                        {% endif %}
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="photo-form-wrapper clearfix">
                            <form method="post" action="{{ path('register') }}" id="contact">
                                {{ form_widget(form.fullname, {'attr': {'class': 'form-name validate-required', 'placeholder':'Fullname...', 'type':'text', 'id':"firstname" }}) }}
                                {{ form_widget(form.username, {'attr': {'class': 'form-email validate-required', 'placeholder':'Email address', 'type':'email', 'id':'email', 'name':'_username'}}) }}
                                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-password validate-required', 'placeholder':'Create a password', 'type':'password', 'id':'password'}}) }}
                                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-password validate-required', 'placeholder':'Retype your password', 'id':'confirmPassword', 'type':'password'}}) }}

                                {{ form_row(form._token) }}
                                <input class="login-btn btn-filled" type="submit" value="Register">
                            </form>
                        </div>
                        <a href="#" class="text-white">Create an account ➞</a><br>
                        <a href="#" class="text-white">I've forgotten my password</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="footer-container">
        <footer class="bg-primary short-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <span class="text-white">© 2014 Pivot Inc.</span>
                        <span class="text-white"><a href="#">hello@pivot.net</a></span>
                        <span class="text-white">+614 3827 492</span>
                        <span class="text-white">300 Collins St. Melbourne 3000</span>
                    </div>
                </div>
            </div>

            <div class="contact-action">
                <div class="align-vertical">
                    <i class="icon text-white icon_mail"></i>
                    <a href="contact.html" class="text-white"><span class="text-white">Get in touch with us <i class="icon arrow_right"></i></span></a>
                </div>
            </div>
        </footer>
    </div>

    </body>
{% endblock %}

