{% extends ':default:front-end.html.twig' %}
{% block content %}
    <div class="head">
        <div class="logo">
            <div class="logo-top">
                <h1>Camping Management System</h1>
            </div>
            <div class="logo-bottom">
                <section class="sky-form">
                    <label class="radio"><input type="radio" name="radio" checked="checked"><i></i>Ut mattis mattis bibendum</label>
                    <label class="radio"><input type="radio" name="radio"><i></i>Nullam rutrum sagittis interdum</label>
                    <label class="radio"><input type="radio" name="radio"><i></i>Nam cursus eros sed elit</label>
                    <br>
                    <label class="radio " style="padding-left: 15%;">Already have an account?</label>
                    <a href="{{ path('login') }}"> <button type="submit" class="btn btn-primary" style="margin-left: 4%; padding:6px 99px">Sign In</button></a>
                </section>
            </div>
        </div>
        <div class="login">
            <div class="sap_tabs">
                <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                    <ul class="resp-tabs-list">
                        <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Sign up</span></li>
                        <div class="clearfix">

                        </div>
                    </ul>

                    <div class="resp-tabs-container">
                        <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                            <div class="login-top">
                                {% if not form.username.vars.valid %}
                                    <div class="alert alert-danger alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <i class="fa fa-remove pr10"></i>

                                        <strong>{{ form_errors(form.username) }}</strong>
                                    </div>
                                {% endif %}
                                {% if not form.plainPassword.vars.valid %}
                                    <div class="alert alert-danger alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <i class="fa fa-remove pr10"></i>
                                        <strong> {{ form_errors(form.plainPassword) }}</strong>
                                    </div>
                                {% endif %}
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                <div class="admin-form theme-info mw400" id="login">
                                    <form action="{{ path('register') }}" method="post" class="admin-form">
                                        <div class="section">
                                            <label for="username" class="field prepend-icon">
                                                {{ form_widget(form.fullname, {'attr': {'class': 'gui-input', 'placeholder':'Fullname...', 'type':'text', 'id':"firstname" }}) }}
                                                <label for="username" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <div class="section">
                                            <label for="password" class="field prepend-icon">
                                                {{ form_widget(form.username, {'attr': {'class': 'gui-input', 'placeholder':'Email address', 'type':'email', 'id':'email', 'name':'_username'}}) }}
                                                <label for="password" class="field-icon">
                                                    <i class="fa fa-envelope"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <div class="section">
                                            <label for="password" class="field prepend-icon">
                                                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'gui-input', 'placeholder':'Create a password', 'type':'password', 'id':'password'}}) }}
                                                <label for="password" class="field-icon">
                                                    <i class="fa fa-lock"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <div class="section">
                                            <label for="password" class="field prepend-icon">
                                                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'gui-input', 'placeholder':'Retype your password', 'id':'confirmPassword', 'type':'password'}}) }}
                                                <label for="password" class="field-icon">
                                                    <i class="fa fa-lock"></i>
                                                </label>
                                            </label>
                                        </div>
                                        {{ form_row(form._token) }}
                                        <!-- end .section row section -->

                                        <div class="login-bottom login-bottom1">
                                            <div class="submit">
                                                <button type="submit" class="btn btn-primary btn-md">Sign Up</button>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                                <div class="login-top">
                                    <form>
                                        <input type="text" class="name active" placeholder="Your Name" required=""/>
                                        <input type="text" class="email" placeholder="Email" required=""/>
                                        <input type="password" class="password" placeholder="Password" required=""/>
                                    </form>
                                    <div class="login-bottom">
                                        <div class="submit">
                                            <button type="submit" class="button btn-success mr10">Sign In</button>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}

