{% extends '::securityview.html.twig' %}
{% block body %}
    <body class="external-page sb-l-c sb-r-c">
    <!-- Start: Main -->
    <div id="main" class="animated fadeIn">

        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">

            <!-- begin canvas animation bg -->
            <div id="canvas-wrapper">
                <canvas id="demo-canvas"></canvas>
            </div>

            <!-- Begin: Content -->
            <section id="content" class="">

                <div class="admin-form theme-info mw700" style="margin-top: 3%;" id="login1">

                    <div class="row mb15 table-layout">

                        <div class="col-xs-6 va-m pln">
                            <a href="dashboard.html" title="Return to Dashboard">
                                <img src="{{ asset('assets/img/logos/logo_white.png') }}" title="AdminDesigns Logo" class="img-responsive w250">
                            </a>
                        </div>

                        <div class="col-xs-6 text-right va-b pr5">
                            <div class="login-links">
                                <a href="{{ path('login') }}" class="" title="Sign In">Sign In</a>
                                <span class="text-white"> | </span>
                                <a href="{{ path('register') }}" class="active" title="Register">Register</a>
                            </div>

                        </div>

                    </div>

                    <div class="panel panel-info mt10 br-n">
                        <form id="account2" role="form" action="{{ path('register') }}" method="post">
                            <div class="panel-body p25 bg-light">
                                <div class="section-divider mt10 mb40">
                                    <span>Set up your account</span>
                                </div>
                                {% if not form.username.vars.valid %}
                                    <div class="alert alert-danger alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <i class="fa fa-remove pr10"></i>

                                        <strong>{{ form_errors(form.username) }}</strong>
                                    </div>
                                {% endif %}
                                {% if not form.plainPassword.vars.valid %}
                                    <div class="alert alert-danger alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <i class="fa fa-remove pr10"></i>
                                        <strong> {{ form_errors(form.plainPassword) }}</strong>
                                    </div>
                                {% endif %}
                                <!-- .section-divider -->

                                <div class="section row">
                                    <div class="col-md-12">
                                        <label for="firstname" class="field prepend-icon">
                                            {{ form_widget(form.fullname, {'attr': {'class': 'gui-input', 'placeholder':'Fullname...', 'type':'text', 'id':"firstname" }}) }}
                                            <label for="firstname" class="field-icon">
                                                <i class="fa fa-user"></i>
                                            </label>
                                        </label>
                                    </div>
                                    <!-- end section -->
                                </div>
                                <!-- end .section row section -->

                                <div class="section">
                                    <label for="email" class="field prepend-icon">
                                        {{ form_widget(form.username, {'attr': {'class': 'gui-input', 'placeholder':'Email address', 'type':'email', 'id':'email', 'name':'_username'}}) }}
                                        <label for="email" class="field-icon">
                                            <i class="fa fa-envelope"></i>
                                        </label>
                                    </label>
                                </div>
                                <!-- end section -->

                                <div class="section">
                                    <label for="password" class="field prepend-icon">
                                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'gui-input', 'placeholder':'Create a password', 'type':'password', 'id':'password'}}) }}
                                        <label for="password" class="field-icon">
                                            <i class="fa fa-unlock-alt"></i>
                                        </label>
                                    </label>
                                </div>
                                <!-- end section -->

                                <div class="section">
                                    <label for="confirmPassword" class="field prepend-icon">
                                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'gui-input', 'placeholder':'Retype your password', 'id':'confirmPassword', 'type':'password'}}) }}
                                        <label for="confirmPassword" class="field-icon">
                                            <i class="fa fa-lock"></i>
                                        </label>
                                    </label>
                                </div>
                                <!-- end section -->

                                <div class="section-divider mv40">
                                    <span>Review the Terms</span>
                                </div>
                                <!-- .section-divider -->
                                <div class="section mb15">
                                    <label class="option block mt15">
                                        <input type="checkbox" name="terms">
                                        <span class="checkbox"></span>I agree to the
                                        <a href="#" class="theme-link"> terms of use. </a>
                                    </label>
                                </div>
                                <!-- end section -->

                            </div>
                            <!-- end .form-body section -->
                            <div class="panel-footer clearfix">
                                <button type="submit" class="button btn-primary pull-right" onclick="if(!this.form.terms.checked){alert('You must agree to the terms first.');return false}"  >Create Account</button>
                            </div>
                            <!-- end .form-footer section -->
                            {{ form_row(form._token) }}
                        </form>
                    </div>
                </div>

            </section>
            <!-- End: Content -->

        </section>
        <!-- End: Content-Wrapper -->

    </div>
    <!-- End: Main -->
    </body>
{% endblock %}