{% extends '::securityview.html.twig' %}
{% block content %}
    <div class="admin-form theme-info mw400" id="login" style="position: relative; left: 30em; bottom: -10em;  ">
        <form method="post" action="{{ path('resetpasswordrequest') }}" id="admin-form">
            <div class="panel-body bg-light p25 pb15" style="background-color: rgba(255,255,255,0.3) !important; border-radius:0.5em;">
                <div style="font-size:22px; margin-bottom:17px; text-align: left; color: #f7f8e6;"> Password reset
                    {% if message is defined %}
                        <p>{{ message }}</p>
                    {% endif %}
                    {% for flash_message in app.session.flashBag.get('usernamenotfound') %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="fa fa-remove pr10"></i>
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    {% for flash_message in app.session.flashBag.get('usernamefound') %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="fa fa-check pr10"></i>
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                </div>
                <div class="section">
                    <label for="username" class="field prepend-icon">
                        {{ form_widget(resetform.username, {'attr': {'class': 'gui-input', 'placeholder':'Your Email address', 'type':'email'}}) }}
                        <label for="username" class="field-icon">
                            <i class="fa fa-user"></i>
                        </label>
                    </label>
                </div>
            </div>


            {{ form_row(resetform._token) }}
            <div class="panel-footer clearfix" style="background-color: rgba(255, 255, 255, 0.5) !important;">
                <label class="switch ib switch-primary mt10 pull-left">
                    <a href="{{ path('register') }}" class="text-white">Create an account ➞</a><br>
                </label>
                <button type="submit" class="button btn-primary mr10 pull-right">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}