{% extends ':default:front-end.html.twig' %}
{% block content %}
    <div class="head">
        <div class="login">
            <div class="sap_tabs">
                <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                    <ul class="resp-tabs-list">
                        <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Reset Password</span></li>
                        <div class="clearfix">

                        </div>
                    </ul>

                    <div class="resp-tabs-container">
                        <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                            <div class="login-top">
                                {% if not resetform.plainPassword.vars.valid %}
                                    <div class="alert alert-danger alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <i class="fa fa-remove pr10"></i>
                                        <strong> {{ form_errors(resetform.plainPassword) }}</strong>
                                    </div>
                                {% endif %}
                                <div class="admin-form theme-info mw400" id="login">
                                    <form action="{{ path('resetpasswordaction', {'code': resetCode}) }}" method="post" class="admin-form">
                                        <div class="section">
                                            <label for="username" class="field prepend-icon">
                                                {{ form_widget(resetform.plainPassword.first, {'attr': {'class': 'gui-input', 'placeholder':'Create a password', 'type':'password'}}) }}
                                                <label for="username" class="field-icon">
                                                    <i class="fa fa-lock"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <div class="section">
                                            <label for="username" class="field prepend-icon">
                                                {{ form_widget(resetform.plainPassword.second, {'attr': {'class': 'gui-input', 'placeholder':'Create a password', 'type':'password'}}) }}
                                                <label for="username" class="field-icon">
                                                    <i class="fa fa-lock"></i>
                                                </label>
                                            </label>
                                        </div>
                                        {{ form_row(resetform._token) }}
                                        <!-- end .section row section -->

                                        <div class="login-bottom login-bottom1">
                                            <div class="submit">
                                                <button type="submit" class="btn btn-primary btn-md">Submit</button>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <style>
        /*--meadia-quiries-start-here--*/
        @media(max-width:1920px){
            .logo {
                padding: 7.1% 0;
            }
            .account ul span {
                margin-left: 22px;
            }
            .account ul {
                width: 19%;
            }
            .login{
                margin-right:25%;
            }
        }
        @media(max-width:1440px){
            .logo {
                padding: 7.1% 0;
            }
            .account ul span {
                margin-left: 22px;
            }
            .account ul {
                width: 19%;
            }
            .login{
                margin-right:25%;
            }
        }
    </style>
{% endblock %}












