{% extends '::securityview.html.twig' %}

{% block body %}
    <body class="external-page sb-l-c sb-r-c">

<!-- Start: Main -->
<div id="main" class="animated fadeIn">

    <!-- Start: Content-Wrapper -->
    <section id="content_wrapper">

        <!-- begin canvas animation bg -->
        <div id="canvas-wrapper">
            <canvas id="demo-canvas"></canvas>
        </div>

        <!-- Begin: Content -->
        <section id="content" class="animated fadeIn">

            <div class="admin-form theme-info mw500" style="margin-top: 10%;" id="login">
                <div class="row mb15 table-layout">

                    <div class="col-xs-6 pln">
                        <a href="dashboard.html" title="Return to Dashboard">
                            <img src="{{ asset('assets/img/logos/logo_white.png') }}" title="AdminDesigns Logo" class="img-responsive w250">
                        </a>
                    </div>

                    <div class="col-xs-6 va-b">
                        <div class="login-links text-right">
                            <a href="#" class="" title="False Credentials">Password Reset</a>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info heading-border br-n">

                    <form method="post" action="{{ path('resetpasswordrequest') }}" id="contact">
                        <div class="panel-body p15 pt25">

                            <div class="alert alert-micro alert-border-left alert-info pastel alert-dismissable mn">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="fa fa-info pr10"></i> Enter your
                                <b>username</b> and instructions will be sent to you!
                            </div>
                            {% for flash_message in app.session.flashBag.get('usernamenotfound') %}
                                <div class="alert alert-danger alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <i class="fa fa-remove pr10"></i>
                                    {{ flash_message }}
                                </div>
                            {% endfor %}
                            {% for flash_message in app.session.flashBag.get('usernamefound') %}
                                <div class="alert alert-success alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <i class="fa fa-check pr10"></i>
                                    {{ flash_message }}
                                </div>
                            {% endfor %}

                        </div>
                        <!-- end .form-body section -->
                        <div class="panel-footer p25 pv15">

                            <div class="section mn">

                                <div class="smart-widget sm-right smr-80">
                                    <label for="email" class="field prepend-icon">
                                        {{ form_widget(resetform.username, {'attr': {'class': 'gui-input', 'placeholder':'Your Email address', 'type':'email', 'id':'email'}}) }}
                                    </label>
                                    <button type="submit" class="button">Reset</button>
                                </div>
                                <!-- end .smart-widget section -->

                            </div>
                            <!-- end section -->

                        </div>
                        <!-- end .form-footer section -->
                        {{ form_row(resetform._token) }}
                    </form>

                </div>

            </div>

        </section>
        <!-- End: Content -->

    </section>
    <!-- End: Content-Wrapper -->

</div>
<!-- End: Main -->

<!-- BEGIN: PAGE SCRIPTS -->
{% endblock %}